{% extends 'index_master.html' %}

{% block content %}

<div class="container my-4">
    <div class="container-fluid">
        <form>
        <div class="row">
            <h2>Nuevo Producto</h2>
        </form>
        </div>
    </div>
    
  <div class="row justify-content-center">
      <div class="col-md-6">
        
          <div class="card card-secondary">
              <div class="card-header">
                  <h3 class="card-title">Información del Producto</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form enctype="multipart/form-data" action="{% url 'RegistrarProducto' %}" method="POST" id="productoForm">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputNombre">Nombre*</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese el nombre" name="nombre_suministro" required>
                            <span class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="mostrarInstrucciones(this)">
                                <i class="fas fa-info-circle"></i>
                              </button>
                            </span>
                        </div>
                        <div class="instrucciones d-none">
                          Ingrese el nombre utilizando solo letras, sin números ni símbolos.
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="inputNombre">Categoria*</label>
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <select class="form-control" id="inputCategoria" name="categoria" required>
                              <option value="" disabled selected>Seleccione la categoria</option>
                              <option value="Higiene y Desinfección">Higiene y Desinfeccion</option>
                              <option value="Herramientas de Diagnóstico">Herramientas de Diagnostico</option>
                              <option value="Material de Oficina">Material de Oficina</option>
                              <option value="Productos para terapias">Productos para terapias</option>
                              <option value="Equipo de tratamiento">Equipo de tratamiento</option>
                              <!-- Agrega más opciones aquí si es necesario -->
                          </select>
                          <span class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="mostrarInstrucciones(this)">
                                  <i class="fas fa-info-circle"></i>
                              </button>
                          </span>
                      </div>
                      <div class="instrucciones d-none">
                          Seleccione la categoria del producto.
                      </div>
                  </div>

                    <div class="form-group">
                      <label for="inputDescripcion">Descripcion*</label>
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <textarea class="form-control" id="inputDescripcion" placeholder="Ingrese la descripcion" name="descripcion_suministro" required></textarea>
                          <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="mostrarInstrucciones(this)">
                              <i class="fas fa-info-circle"></i>
                            </button>
                          </span>
                      </div>
                      <div class="instrucciones d-none">
                        Ingrese la Descripcion del producto.
                      </div>
                  </div>

                    <div class="form-group">
                      <label for="inputCantidad">Cantidad</label>
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" id="inputCantidad" placeholder="Ingrese la cantidad" name="cantidad" required>
                          <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="mostrarInstrucciones(this)">
                              <i class="fas fa-info-circle"></i>
                            </button>
                          </span>
                      </div>
                      <div class="instrucciones d-none">
                        Ingrese la cantidad utilizando solo numeros.
                      </div>
                  </div>
                    <div class="form-group">
                        <label for="inputCostoUnitario">Costo Unitario*</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="inputCostoUnitario" placeholder="Ingrese el costo unitario" name="costo_unitario" required>
                            <span class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="mostrarInstrucciones(this)">
                                <i class="fas fa-info-circle"></i>
                              </button>
                            </span>
                          </div>
                          <div class="instrucciones d-none">
                            Ingrese el costo unitario utilizando numeros.
                          </div>
                    </div>

                    <div class="form-group">
                        <label for="fechavencimiento" class="sm-4 col-form-label">Fecha de Vencimiento:*</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                            </div>
                            <input type="date" class="form-control" id="inputFechaVencimiento" name="fecha_vencimiento">
                            <span class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="mostrarInstrucciones(this)">
                                <i class="fas fa-info-circle"></i>
                              </button>
                            </span>
                        </div>
                        <div class="instrucciones d-none">
                          Ingrese la fecha de Vencimiento.
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="inputImagen">Imagen del Producto</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputImagen" name="imagen" onchange="mostrarNombreImagen(this)">
                          <label class="custom-file-label" for="inputImagen">Seleccione una imagen...</label>
                        </div>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" onclick="mostrarInstrucciones(this)">
                            <i class="fas fa-info-circle"></i>
                          </button>
                        </div>
                      </div>
                      <div class="instrucciones d-none">
                        Seleccione una imagen que represente el insumo (opcional).
                      </div>
                    </div>
                    
                </div>
                <!-- /.card-body -->
                </div>
                <!-- /.card -->
                </div>
                
                <div class="container my-6">
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <a href="{% url 'GestionPacientes' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i>Regresar</a>
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
  </div>
</div>

<script>
  // Función para mostrar u ocultar las instrucciones de un campo
  function mostrarInstrucciones(boton) {
    var instrucciones = boton.parentNode.parentNode.parentNode.querySelector(".instrucciones");
    instrucciones.classList.toggle("d-none");
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Obtener referencias a los elementos del formulario
    var nombreInput = document.getElementById("inputNombre");
    var descripcionInput = document.getElementById("inputDescripcion");
    var cantidadInput = document.getElementById("inputCantidad");
    var costoUnitarioInput = document.getElementById("inputCostoUnitario");
    var fechaVenciInput = document.getElementById("inputFechaVencimiento");
    var formulario = document.getElementById("productoForm");

    // Agregar evento de validación al campo de Nombre
    nombreInput.addEventListener("input", function() {
      if (validarNombre(this.value)) {
        this.classList.remove("is-invalid");
        this.classList.add("is-valid");
      } else {
        this.classList.remove("is-valid");
        this.classList.add("is-invalid");
      }
      
    });

    // Agregar evento de validación al campo de Descripcion
    descripcionInput.addEventListener("input", function() {
      if (validarDescripcion(this.value)) {
        this.classList.remove("is-invalid");
        this.classList.add("is-valid");
      } else {
        this.classList.remove("is-valid");
        this.classList.add("is-invalid");
      }
    });

    // Agregar evento de validación al campo de Cantidad
    cantidadInput.addEventListener("input", function() {
      if (validarCantidad(this.value)) {
        this.classList.remove("is-invalid");
        this.classList.add("is-valid");
      } else {
        this.classList.remove("is-valid");
        this.classList.add("is-invalid");
      }
    });

    // Agregar evento de validación al campo de costo Unitario
    costoUnitarioInput.addEventListener("input", function() {
      if (validarCostoUnitario(this.value)) {
        this.classList.remove("is-invalid");
        this.classList.add("is-valid");
      } else {
        this.classList.remove("is-valid");
        this.classList.add("is-invalid");
      }
    });

    // Agregar evento de validación al campo de Fecha de Vencimiento
    fechaVenciInput.addEventListener("input", function() {
      if (validarFechaVenci(this.value)) {
        this.classList.remove("is-invalid");
        this.classList.add("is-valid");
      } else {
        this.classList.remove("is-valid");
        this.classList.add("is-invalid");
      }
    });

    // Agregar evento de envío del formulario
    formulario.addEventListener("submit", function(event) {
      // Validar el campo de motivo antes de enviar el formulario
      if (!validarNombre(NombreInput.value)) {
        NombreInput.classList.add("is-invalid");
        event.preventDefault(); // Evitar el envío del formulario si hay errores
      }

      if (!validarDescripcion(descripcionInput.value)) {
        observacionInput.classList.add("is-invalid");
        event.preventDefault(); // Evitar el envío del formulario si hay errores
      }

      if (!validarCantidad(cantidadInput.value)) {
        cantidadInput.classList.add("is-invalid");
        event.preventDefault(); // Evitar el envío del formulario si hay errores
      }

      if (!validarCostoUnitario(costoUnitarioInput.value)) {
        costoUnitarioInput.classList.add("is-invalid");
        event.preventDefault(); // Evitar el envío del formulario si hay errores
      }

      if (!validarFechaVenci(fechaVenciInput.value)) {
        fechaVenciInput.classList.add("is-invalid");
        event.preventDefault(); // Evitar el envío del formulario si hay errores
      }

    });

    // Función de validación para el campo de Nombre
    function validarNombre(valor) {
      var nombreRegex = /^[A-Za-zñÑáéíóúÁÉÍÓÚ\s\-.,]{4,50}$/; // Expresión regular para letras, números y espacios
      return nombreRegex.test(valor);
    }

        
    // Función de validación para el campo de Descripcion
    function validarDescripcion(valor) {
      var descripcionRegex = /^[A-Za-zñÑáéíóúÁÉÍÓÚ\s\-.,()0-9]{4,255}$/; // Expresión regular para descripción con números y paréntesis
      return descripcionRegex.test(valor);
    }

    // Función de validación para el campo de Cantidad
    function validarCantidad(valor) {
      var cantidadRegex = /^\d+$/; // Expresión regular para letras, números, espacios, ñ, tildes, guiones, puntos y comas
      return cantidadRegex.test(valor);
    }

    // Función de validación para el campo de Costo Unitario
    function validarCostoUnitario(valor) {
      var costouRegex = /^\$?\d+(\.\d{1,2})?$/;  // Expresión regular para letras, números, espacios, ñ, tildes, guiones, puntos y comas
      return costouRegex.test(valor);
    }

    // Función de validación para el campo de Fecha de Vencimiento
function validarFechaVencimiento(valor) {
  var fechaRegex = /^(?:\d{4}-\d{2}-\d{2})?$/; // Expresión regular para fechas en formato YYYY-MM-DD o vacío
  return fechaRegex.test(valor);
}


  });
</script>

<script>
  function mostrarNombreImagen(input) {
    // Obtener el nombre del archivo seleccionado
    const nombreArchivo = input.files[0].name;
    
    // Actualizar el texto del label con el nombre del archivo seleccionado
    const label = input.nextElementSibling; // Elemento hermano siguiente al input
    label.textContent = nombreArchivo;
  }

  function mostrarInstrucciones(button) {
    const instrucciones = button.closest('.form-group').querySelector('.instrucciones');
    instrucciones.classList.toggle('d-none');
  }
</script>

{% endblock %}