{% extends 'base_pacientes.html' %}

{% block content %} 

<!-- Main content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body" style="background-color: #eef5f9; border: 1px solid #dee2e6;">
                <div class="text-center mb-4">
                  <h4 class="text-primary">Datos Personales</h4>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Nombre:</h6>
                      <p class="font-secondary">{{ paciente.primer_nombre }} {{ paciente.primer_apellido }}</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Género:</h6>
                      <p>{{ paciente.sexo_paciente }}</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Edad:</h6>
                      <p>{{ edad }}</p>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Teléfono:</h6>
                      <p class="font-secondary">{{ paciente.telefono_paciente }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
            <a href="{% url 'GestionPacientes' %}" class="btn btn-primary">Regresar</a>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'editarPaciente' paciente.id_paciente %}" class="btn btn-info float-right"><i class="fa fa-pen"></i>&nbsp; Editar Informacion</a>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
{% endblock %}