{% extends 'base_pacientes.html' %}

{% block content %} 

<!-- Main content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body" style="background-color: #eef5f9; border: 1px solid #dee2e6;">
                <div class="text-center mb-4">
                  <h4 class="text-primary">Datos Personales</h4>
                  <hr>
                </div>
                <div class="col">
                  <div class="text-center">
                    <h6 class="font-weight-bold">Nombre Completo :</h6>
                    {% if paciente.primer_nombre or paciente.segundo_nombre or paciente.primer_apellido or paciente.segundo_apellido %}
                      <p class="font-secondary">
                        {% if paciente.primer_nombre %}{{ paciente.primer_nombre }}{% else %} {% endif %}
                        {% if paciente.segundo_nombre %}{{ paciente.segundo_nombre }}{% endif %}
                        {% if paciente.primer_apellido %}{{ paciente.primer_apellido }}{% else %} {% endif %}
                        {% if paciente.segundo_apellido %}{{ paciente.segundo_apellido }}{% endif %}
                      </p>
                    {% else %}
                      <p class="font-secondary">No hay</p>
                    {% endif %}
                  </div>
                </div>

                <div class="row mt-4">

                  <div class="col-4">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Género:</h6>
                      {% if paciente.sexo_paciente == 'M' %}
                        <p class="font-secondary">Masculino</p>
                      {% elif paciente.sexo_paciente == 'F' %}
                        <p class="font-secondary">Femenino</p>
                      {% else %}
                        <p class="font-secondary">No definido</p>
                      {% endif %}
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Edad:</h6>
                      <p>{{ edad }}</p>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Teléfono:</h6>
                      {% if paciente.telefono_paciente %}
                        <p class="font-secondary">{{ paciente.telefono_paciente }}</p>
                      {% else %}
                        <p class="font-secondary">No tiene</p>
                      {% endif %}
                    </div>
                  </div>
                  </div>

                  <div class="col">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Correo electronico:</h6>
                      {% if paciente.email_paciente %}
                        <p class="font-secondary">{{ paciente.email_paciente }}</p>
                      {% else %}
                        <p class="font-secondary">No tiene</p>
                      {% endif %}
                    </div>
                  </div>

                  <div class="col">
                    <div class="text-center">
                      <h6 class="font-weight-bold">Fecha de Nacimiento:</h6>
                      <p class="font-secondary">{{ paciente.obtener_fechanac_formateada }}</p>
                    </div>
                  </div>

                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
            <a href="{% url 'GestionPacientes' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp; Regresar</a>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'editarPaciente' paciente.id_paciente %}" class="btn btn-info float-right"><i class="fa fa-pen"></i>&nbsp; Editar Informacion</a>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
{% endblock %}