{% extends 'index_master.html' %}

{% block content %}

<div class="container my-4">
    <div class="container-fluid">
        <form>
        <div class="row">
            <h2>Editar Paciente</h2>
        </form>
        </div>
    </div>
    
  <div class="row">
      <div class="col-md-6">
        
          <div class="card card-secondary">
              <div class="card-header">
                  <h3 class="card-title">Información Personal</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action ="{% url 'editarPaciente' paciente.id_paciente %}" method="POST">
                {% csrf_token %}
                            <div class="card-body ">
                                <div class="form-group">
                                    <label for="inputNombre">Nombre</label>
                                    <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese su nombre" name="primer_nombre" value="{{paciente.primer_nombre}}">
                                </div>
                                <div class="form-group">
                                    <label for="inputApellidos">Apellidos</label>
                                    <input type="text" class="form-control" id="inputApellidos" placeholder="Ingrese sus apellidos" name="primer_apellido" value="{{paciente.primer_apellido}}">
                                </div>
                                <div class="form-group">
                                    <label for="fechanacimiento" class="sm-4 col-form-label">Fecha de Nacimiento:</label>
                                        <input
                                        type="date"
                                        class="limpiarinput"
                                        id="nacimiento_fecha"
                                        name="fechanac_paciente"
                                        value="{{paciente.fechanac_paciente|date:'Y-m-d'}}"
                                        />
                                        
                            
                                </div>
                                <div class="form-group">
                                    <label for="selectSexo">Sexo</label>
                                    <select class="form-control" id="selectSexo" name="sexo_paciente">
                                        <option value="">Seleccione su sexo</option>
                                        <option value="M" {% if paciente.sexo_paciente == 'M'%} selected {% endif %}>Masculino</option>
                                        <option value="F" {% if paciente.sexo_paciente == 'F'%} selected {% endif %}>Femenino</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                    
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Información de Contacto</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputTelefono">Teléfono</label>
                                    <input type="text" class="form-control" id="inputTelefono" placeholder="Ingrese su teléfono" name="telefono_paciente" value="{{paciente.telefono_paciente}}">
                                </div>
                                <div class="form-group">
                                    <label for="inputTelefono">Correo</label>
                                    <input type="text" class="form-control" id="inputCorreo" placeholder="Ingrese su correo" name="email_paciente" value="{{paciente.email_paciente}}">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="container my-6">
                    <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary" > <i class="nav-icon fas fa-save"> </i>Guardar</button>
                    </div>
                    </div>
                </div>
      
            </form>
      
  </div>
</div>

{% endblock %}