{% extends 'base_pacientes.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center"> <!-- Agregada la clase "text-center" para centrar el contenido -->
            <h3>Eliminar Paciente</h3>
            <p class="text-center">¿Estás seguro de que deseas eliminar el paciente <strong>{{paciente.id_paciente}}</strong> - <strong>{{paciente.primer_nombre}} {{paciente.primer_apellido}}</strong>?</p>
            <form method="POST" action="{% url 'eliminarPciente' id_paciente=paciente.id_paciente %}">
              {% csrf_token %}
              <div class="d-flex justify-content-center"> <!-- Agregada la clase "d-flex justify-content-center" para centrar los botones -->
                <input type="submit" value="Eliminar" class="btn btn-danger mx-4">
                <a href="{% url 'GestionPacientes' paciente_id=paciente.id_paciente %}" class="btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /.content-wrapper -->

{% endblock %}