{% extends 'index_master.html' %}

{% block content %} 
<!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    
      <div class="container-fluid">
        <form>
        <div class="row">
            <div class="col-md-1"></div>
          <div class="col-8">
            <h2>Gesti&oacuten de Pacientes</h2>
          </div>
          <div class="col">
            <a href="{% url 'registrarPaciente' %}" class="btn btn-success"><i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Crear Paciente</a>
            <div class="row"> <div class="card"></div></div>
           
          </div>
      </div>

        </form>
      </div><!-- /.container-fluid -->
      <div class="row"> <div class="card"></div></div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Codigo</th>
                        <th>Paciente</th>
                        <th>Genero</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for paciente in pacientes %}
                    <tr>
                      <td>{{paciente.id_paciente}}</td>
                      <td>{{paciente.primer_nombre}} {{paciente.segundo_nombre}}</td>
                      <td>{{paciente.sexo_paciente}}</td>
                      <td>{{paciente.edad}}</td>

                      <td>
                        <a href="#" class="ver-pacientes" data-pacientes-id="{{paciente.id_paciente}}"><i class="nav-icon fas fa-eye"></i></a>
                     </td>
                     <td>
                      <button class="btn" onclick="ocultarFila(this)"><i class="fas fa-ban"></i></button></td>
                   </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  <!-- /.content-wrapper -->


  <script>
    document.addEventListener("DOMContentLoaded", function() {

      // Obtener todos los elementos con la clase "ver-consulta"
      const verPacientes = document.querySelectorAll(".ver-pacientes");
  
      // Agregar un evento de clic a cada enlace
      verPacientes.forEach(function(enlace) {
        enlace.addEventListener("click", function(event) {
        event.preventDefault();
          
          // Obtener el ID de la consulta del atributo data-consulta-id
          const pacienteId = enlace.getAttribute("data-pacientes-id");
       
          // Redirigir a la página de detalles de la consulta con el ID
          window.location.href = "/"+ "datosPersonales/" + pacienteId + "/";
        });
      });
    });

  </script>
{% endblock %}