{% extends 'index_master.html' %}

{% block content %} 
<!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    
      <div class="container-fluid">
        <form>
        <div class="row">
            <div class="col-md-1"></div>
          <div class="col-8">
            <h2>Gestion de Pacientes</h2>
          </div>
          <div class="col">
            <a href=" {% url 'registrar Paciente' %}" class="btn btn-success"><i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Crear Paciente</a>
            <div class="row"> <div class="card"></div></div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
              </form>
          </div>
        </div>
    </form>
      </div><!-- /.container-fluid -->
      <div class="row"> <div class="card"></div></div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                      <th>Genero</th>
                      <th>Edad</th>
                      <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for paciente in Pacientes %}
                    <tr>
                      <td>{{paciente.paciente_id}}</td>
                      <td>{{paciente.Nombres}}</td>
                      <td>{{paciente.Apellidos}}</td>
                      <td>{{paciente.Genero}}</td>
                      <td>{{paciente.Edad}}</td>

                      <td class="text-center">
                        <div class="d-inline-flex flex-row align-items-center">
                          <a href="#" class="ver-pacientes mr-5" data-paciente-id="{{paciente.paciente_id}}">
                            <i class="nav-icon fas fa-eye"></i>
                          </a>
                          <a href="{% url 'EditarPaciente' paciente_id=paciente.paciente_id %}">
                            <i class="nav-icon fas fa-trash"></i>
                          </a>
                        </div>
                      </td>
                    </tr> 
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  <!-- /.content-wrapper -->
{% endblock %}