{% extends 'index_master.html' %}

{% block content %} 
<!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    
      <div class="container-fluid">
        <form>
        <div class="row">
            <div class="col-md-1"></div>
          <div class="col-8">
            <h2>Gesti&oacuten de Pacientes</h2>
          </div>
          <div class="col">
            <a href="{% url 'registrarPaciente' %}" class="btn btn-success"><i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Crear Paciente</a>
            <div class="row"> <div class="card"></div></div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
              </form>
          </div>
      </div>

    </form>
      </div><!-- /.container-fluid -->
      <div class="row"> <div class="card"></div></div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Paciente</th>
                      <th>Genero</th>
                      <th>Edad</th>
                      <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for paciente in pacientes%}
                    <tr>
                      <td>{{paciente.id_paciente}}</td>
                      <td>{{paciente.primer_nombre}} {{paciente.segundo_nombre}}</td>
                      <td>{{paciente.sexo_paciente}}</td>
                      <td>{{edad}}</td>

                      <td><button type="button" class="btn"><i class="nav-icon fas fa-eye"></i></button>
                        <button type="button" class="btn"><i class="fas fa-trash"></i></button>
                    </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  <!-- /.content-wrapper -->
{% endblock %}