{% extends 'base_pacientes.html' %}

{% block content %} 

    <!-- Content Header (Page header) -->
    
    <section class="content-header">  
      <div class="container-fluid">
        <div class="row mb-2 justify-content-between">
          <div class="col-sm-6">
            <h2>Historial de Terapias</h2>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'NuevaTerapia' paciente_id=paciente.id_paciente %}" class="btn btn-success ml-auto float-right nav-link" id="terapia-link" onclick="highlightIcon('terapias-link')"><i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Nueva Terapia</a>
          </div>
        </div>
      </div>
      
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>Id</th>
                        <th>Consulta</th>
                        <th>Observacion</th>
                        <th>Accion</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for terapia in terapias %}
                        {% comment %} {% if not Terapia.deshabilitado %} {% endcomment %}
                      <tr>
                        <td>{{terapia.id_terapia}}</td>
                        <td>{{terapia.id_consulta.motivo_consulta}}</td>
                        <td>{{terapia.observacion_terapia}}</td>
                        <td class="text-center">

                          <div class="d-inline-flex flex-row align-items-center">
                            <a href="#" class="ver-terapia mr-5" data-terapia-id="{{terapia.id_terapia}}" data-paciente-id="{{paciente.id_paciente}}">   
                              <i class="fas fa-eye fa-lg" style="color: #0a3461;"></i>
                            </a>

                            <a href="{% url 'EliminarTerapia' paciente.id_paciente terapia.id_terapia %}" class="eliminar-Terapia" data-Terapia-id="{{Terapia.id_terapia}}" data-paciente-id="{{paciente.id_paciente}}">
                              <i class="fas fa-trash fa-lg" style="color: #1e3152;"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                        {% comment %} {% endif %} {% endcomment %}
                      {% endfor %}
                      </tbody> 
                    </table>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  <!-- /.content-wrapper -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Obtener todos los elementos con la clase "ver-consulta"
      const verTerapias = document.querySelectorAll(".ver-terapia");
  
      // Agregar un evento de clic a cada enlace
      verTerapias.forEach(function(enlace) {
        enlace.addEventListener("click", function(event) {
          event.preventDefault();
          
          // Obtener el ID de la consulta del atributo data-consulta-id
          const terapiaId = enlace.getAttribute("data-terapia-id");

          //obtener el ID de el paciente del atributo data-paciente-id
          const pacienteId = enlace.getAttribute("data-paciente-id");
          
          // Redirigir a la página de detalles de la consulta con el ID
          window.location.href = "/"+ pacienteId + "/HistorialTerapias/DetallesTerapia/" + terapiaId + "/";
        });
      });
    });

  </script>
 
{% endblock %}
