{% extends 'index_master.html' %} 
{% load static %}
{% block content %}
  
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Terapia</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

  <style>
    /* Estilos para el contenedor de la imagen */
    .image-container {
      max-width: 850px;
      margin: 0 auto;
      position: relative;
      overflow: hidden; /* Evita que el lienzo se desborde */
      display: inline-block; /* Ajustar el tamaño del contenedor al tamaño de la imagen */
    }
    /* Estilo para los puntos marcados */
    .marked-point {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px solid red;
      border-radius: 50%;
      pointer-events: none; /* Para evitar que los puntos bloqueen el clic en el canvas */
    }
    /* Estilo para el lienzo */
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>

</head>

<body>

  <div class="container mt-5">
    <h1>Agregar Terapia</h1>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
            {% endfor %}
        </div>
      {% endif %}
    <div class="row">
      <div class="col-md-8">
        <div class="image-container">
          <img src="{% static 'img/humanbody.jpg' %}" alt="Cuerpo humano" id="bodyImage" class="img-fluid" width="900">
          <div id="markedPoints"></div> <!-- Aquí se mostrarán los puntos marcados -->
        </div>
      </div>
      <div class="col-md-4">
        <form id="imageForm" method="POST">
          {% csrf_token %}
          <input type="hidden" name="image_data" id="imageDataInput">
          <input type="hidden" name="numero_puntos" id="numberOfPointsInput">
          
          <div class="form-group">
            <label for="selectTerapia">Consulta:</label>
            <select class="form-control" id="consulta_terapia" name="consulta_terapia" required>

              {% for consulta in consultas %}
                {% if not consulta.deshabilitado %}
                <option value="{{ consulta.id_consulta }}">{{ consulta.obtener_consulta_fecha_formateada }}  - {{ consulta.motivo_consulta }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="textboxTerapia">Observaciones:</label>
            <textarea class="form-control" id="observacion_terapia" rows="4"  name="observacion_terapia" required></textarea>
          </div>
          <button type="submit" id="finalizarBtn" class="btn btn-success mt-3 float-right">Finalizar y Guardar</button>
        </form>
        <a href="{% url 'ListarTerapias' paciente.id_paciente %}" class="btn btn-primary mt-3 float-left">Volver al Historial</a>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const imageContainer = document.querySelector(".image-container");
      const bodyImage = document.getElementById("bodyImage");
      const canvas = document.createElement("canvas");
      canvas.width = bodyImage.width;
      canvas.height = bodyImage.height;
      const context = canvas.getContext("2d");
    
      // Ajustar el tamaño del contenedor de la imagen cuando se carga la imagen
      bodyImage.addEventListener("load", function () {
        const imageAspectRatio = bodyImage.width / bodyImage.height;
        const containerWidth = imageContainer.clientWidth;
        const containerHeight = containerWidth / imageAspectRatio;
        imageContainer.style.height = `${containerHeight}px`;
        canvas.width = containerWidth;
        canvas.height = containerHeight;
        context.drawImage(bodyImage, 0, 0, containerWidth, containerHeight);
      });
    
      imageContainer.appendChild(canvas); // Agregar el lienzo al contenedor
      
      const markedPoints = []; // Array para almacenar los puntos marcados
      let numberOfPoints = 0; // Variable para contar los puntos
    
      imageContainer.addEventListener("mousemove", function (event) {
        // Obtener las coordenadas del clic dentro del contenedor de la imagen
        const rect = canvas.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;
    
        // Dibujar la imagen original en el lienzo
        const containerWidth = canvas.width;
        const containerHeight = canvas.height;
        context.clearRect(0, 0, containerWidth, containerHeight);
        context.drawImage(bodyImage, 0, 0, containerWidth, containerHeight);
    
        // Dibujar todos los puntos marcados en el lienzo
        markedPoints.forEach(point => {
          context.beginPath();
          context.arc(point.x, point.y, 7.5, 0, 2 * Math.PI);
          context.strokeStyle = "red";
          context.lineWidth = 2;
          context.stroke();
        });
    
        // Dibujar el punto marcado en el lienzo actual
        context.beginPath();
        context.arc(x, y, 7.5, 0, 2 * Math.PI);
        context.strokeStyle = "red";
        context.lineWidth = 2;
        context.stroke();
      });
    
      imageContainer.addEventListener("click", function (event) {
        // Obtener las coordenadas del clic dentro del contenedor de la imagen
        const rect = canvas.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;
    
        // Agregar el punto actual al array de puntos marcados
        markedPoints.push({ x, y });
        
        // Incrementar la variable de conteo de puntos
        numberOfPoints = markedPoints.length;
        console.log("Número de puntos marcados:", numberOfPoints);

        // Convertir el lienzo con los puntos marcados a Base64
        const imageData = canvas.toDataURL();
        console.log("Valor de imageData:", imageData); // Agrega este mensaje de depuración
    
        // Asignar la imagen en Base64 al campo oculto image_data
        const imageDataInput = document.getElementById("imageDataInput");
        imageDataInput.value = imageData;

        // Actualizar el campo oculto con la cantidad de puntos marcados
        const numberOfPointsInput = document.getElementById("numberOfPointsInput");
        numberOfPointsInput.value = numberOfPoints;

      });
    });
  </script>
</body>
</html>



{% endblock %}