{% extends 'index_master.html' %}

{% block content %}

<style>
    ul.messages {
        list-style-type: none;
        padding: 0;
      }
      
      .message {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;
      }
      
      .success {
        background-color: #dff0d8;
        color: #3c763d;
      }
      
      .error {
        background-color: #f2dede;
        color: #a94442;
      }
      
      .warning {
        background-color: #fcf8e3;
        color: #8a6d3b;
      }
</style>
<div class="container my-4">

    
    <div class="container-fluid">
        <form>
        <div class="row mb-3">
            <h2>Editar Usuario</h2>
        </form>
        </div>
    </div>
    
<div class="row">
    <div class="col-md-6">
        
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Información de Registro</h3>
            </div>
            <!-- /.card-header -->

            <!-- form start -->
            <form action="{% url 'editarUsuario' usuario.username %}" method="POST">
            {% csrf_token %}
                    
                        <div class="card-body">
                        <div class="form-group">
                            <label for="inputUser">Usuario*</label>
                            <input type="text" class="form-control" id="inputUser" placeholder="Ingrese su usuario" name="username" value="{{ usuario.username }}">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="cambiarContrasenaCheckbox" name="cambiar_contrasena">
                            <label for="cambiarContrasenaCheckbox">Cambiar contraseña</label>
                        </div>
                    
                        <div id="divContrasena" style="display: none;">
                            <div class="form-group">
                                <label for="inputContrasena">Contraseña</label>
                                <input type="password" class="form-control" id="inputContrasena" name="password" disabled>
                            </div>
                    
                            <div class="form-group">
                                <label for="inputConfirmarContrasena">Confirmar Contraseña</label>
                                <input type="password" class="form-control" id="inputConfirmarContrasena" name="password" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectCargo">Cargo*</label>
                            <select class="form-control" id="selectCargo" name="cargo">
                                <option value="">Seleccione el cargo</option>
                                <option value="administrador" {% if 'Administrador' in grupos_usuario %}selected{% endif %}>Administrador</option>
                                <option value="acupunturista" {% if 'Acupunturista' in grupos_usuario %}selected{% endif %}>Acupunturista</option>
                            </select>
                        </div>

                        </div>
                        <!-- /.card-body -->
                   
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Información Adicional</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    
                        <div class="card-body">   
                            <div class="form-group">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese su nombre" name="firstname" value="{{ usuario.first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="inputApellidos">Apellido</label>
                            <input type="text" class="form-control" id="inputApellidos" placeholder="Ingrese sus apellidos" name="lastname" value="{{ usuario.last_name }}">
                        </div>
                        <div class="form-group">
                            <label for="inputCorreo">Correo</label>
                            <input type="text" class="form-control" id="inputCorreo" placeholder="Ingrese su correo" name="email" value="{{ usuario.email }}">
                        </div>
    
                    </div>
                    
                </div>
            </div>
            
            <div class="container my-6">
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <button type="submit" name="submit" class="btn btn-primary"> <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
                        <button type="reset" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>

            </form>
            <!--End Form-->

        </div>
    </div>

</div>
</div>

<script>
    document.getElementById("cambiarContrasenaCheckbox").addEventListener("change", function() {
        var divContrasena = document.getElementById("divContrasena");
        var inputContrasena = document.getElementById("inputContrasena");
        var inputConfirmarContrasena = document.getElementById("inputConfirmarContrasena");

        if (this.checked) {
            divContrasena.style.display = "block";
            inputContrasena.disabled = false;
            inputConfirmarContrasena.disabled = false;
        } else {
            divContrasena.style.display = "none";
            inputContrasena.disabled = true;
            inputConfirmarContrasena.disabled = true;
        }
    });
</script>

{% endblock %}