{% extends 'index_master.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center"> <!-- Agregada la clase "text-center" para centrar el contenido -->
            <h3>Eliminar Usuario</h3>
            <p class="text-center">¿Estás seguro que deseas eliminar el Usuario <strong>{{usuario.username}}</strong>?</p>
            <form method="POST" action="{% url 'eliminarUsuario' usuario.username %}">
              {% csrf_token %}
              <div class="d-flex justify-content-center"> <!-- Agregada la clase "d-flex justify-content-center" para centrar los botones -->
                <input type="submit" value="Eliminar" class="btn btn-danger mx-4">
                <a href="{%url 'gestionUsuarios'%}" class="btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /.content-wrapper -->

{% endblock %}