{% extends 'base_pacientes.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Editar Pago</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<form action="{% url 'EditarPago' paciente_id=paciente.id_paciente pago_id=pago.id_pago %}" method="POST" id="formEditarPago">
  {% csrf_token %}
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <!-- Payment Entry Form -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Editar Pago</h3>
            </div>
            <div class="card-body">
              <!-- Combo box for selecting the consultation -->
              <div class="form-group">
                <label for="consultationSelect">Seleccione la consulta:</label>
                <select class="form-control" id="consultationSelect" name="num_consulta">
                  {% for consulta in consultas %}
                  <option value="{{ consulta.id_consulta }}"
                    {% if consulta.id_consulta == pago.id_consulta.id_consulta %} selected {% endif %}>
                    {{ consulta.obtener_consulta_fecha_formateada }} - {{ consulta.motivo_consulta }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group row">
                <label for="pago_fecha" class="col-sm-4 col-form-label">Fecha del Pago:</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" id="pago_fecha" name="pago_fecha" value="{{ pago.fecha_pago|date:'Y-m-d' }}"/>
                </div>
              </div>
              <div class="form-group">
                <label for="paymentAmount">Cantidad en USD:</label>
                <input type="text" class="form-control" id="paymentAmount" name="monto_pago" placeholder="Ingrese la cantidad en USD" value="{{ pago.monto_pago }}">
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" name="submit" class="btn btn-success float-right">
                <i class="fa fa-save"></i>&nbsp; Actualizar Pago
              </button>
              <a href="{% url 'ListarPagos' paciente_id=paciente.id_paciente %}" class="btn btn-primary float-left">
                <i class="fas fa-arrow-left"></i>&nbsp; Volver al Historial
              </a>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</form>

<script>
  // Eliminar espacios en blanco al cargar la página
  window.addEventListener('DOMContentLoaded', function() {
    var textarea = document.getElementById('observacion_pago');
    textarea.value = textarea.value.trim();
  });

</script>
<script>
  // Función para mostrar u ocultar las instrucciones de un campo
  function mostrarInstrucciones(boton) {
    var instrucciones = boton.parentNode.parentNode.parentNode.querySelector(".instrucciones");
    instrucciones.classList.toggle("d-none");
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Obtener referencias a los elementos del formulario
    var montoInput = document.getElementById("paymentAmount");
    var fechaInput = document.getElementById("pago_fecha");
    var formulario = document.getElementById("formEditarPago");

    // Agregar evento de validación al campo de monto
    montoInput.addEventListener("input", function() {
      if (validarMonto(this.value)) {
        this.classList.remove("is-invalid");
        this.classList.add("is-valid");
      } else {
        this.classList.remove("is-valid");
        this.classList.add("is-invalid");
      }
    });

    // Agregar evento de validación al campo de fecha
    fechaInput.addEventListener("input", function() {
      if (validarFecha(this.value)) {
        this.classList.remove("is-invalid");
        this.classList.add("is-valid");
      } else {
        this.classList.remove("is-valid");
        this.classList.add("is-invalid");
      }
    });

    // Agregar evento de envío del formulario
    formulario.addEventListener("submit", function(event) {
      // Validar el campo de monto antes de enviar el formulario
      if (!validarMonto(montoInput.value)) {
        montoInput.classList.add("is-invalid");
        event.preventDefault(); // Evitar el envío del formulario si hay errores
      }

      if (!validarFecha(fechaInput.value)) {
        fechaInput.classList.add("is-invalid");
        event.preventDefault(); // Evitar el envío del formulario si hay errores
      }
    });

    // Función de validación para el campo de monto
    function validarMonto(valor) {
      var montoRegex = /^\d+(\.\d{1,2})?$/; // Expresión regular para número decimal con hasta 2 decimales
      return montoRegex.test(valor);
    }

    // Función de validación para el campo de fecha
    function validarFecha(valor) {
      var fechaRegex = /^\d{4}-\d{2}-\d{2}$/; // Expresión regular para fecha
      if (!fechaRegex.test(valor)) {
        return false; // La fecha no tiene el formato correcto
      }

      var fechaIngresada = new Date(valor);
      var fechaActual = new Date();
      fechaActual.setHours(0, 0, 0, 0); // Establecer las horas, minutos, segundos y milisegundos de la fecha actual a cero para comparar solo las fechas

      if (fechaIngresada > fechaActual) {
        return false; // La fecha es posterior a la fecha actual
      }

      return true; // La fecha es válida
    }
  });
</script>

{% endblock %}
