{% extends 'base_pacientes.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center">
            <h3>Eliminar Pago</h3>
            <p class="text-center">¿Estás seguro de que deseas eliminar el pago <strong>{{ pago.id_pago }}</strong> - <strong>{{ pago.concepto_pago }}</strong>?</p>
            <form method="POST" action="{% url 'EliminarPago' paciente_id=paciente.id_paciente pago_id=pago.id_pago %}">
              {% csrf_token %}
              <div class="d-flex justify-content-center">
                <input type="submit" value="Eliminar" class="btn btn-danger mx-4">
                <a href="{% url 'ListarPagos' paciente_id=paciente.id_paciente %}" class="btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /.content-wrapper -->

{% endblock %}
