{% extends 'base_pacientes.html' %}

{% block content %} 

    <!-- Content Header (Page header) -->
    
    <section class="content-header">  
      <div class="container-fluid">
        <div class="row mb-2 justify-content-between">
          <div class="col-sm-6">
            <h2>Historial de Pagos</h2>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'NuevoPago' paciente_id=paciente.id_paciente %}" class="btn btn-success ml-auto float-right nav-link" id="pago-link" onclick="highlightIcon('pagos-link')"><i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Nuevo Pago</a>
          </div>
        </div>
      </div>
      
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                          <tr>
                              <th>ID Pago</th>
                              <th>Concepto</th>
                              <th>Monto</th>
                              <th>Acción</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for pago in pagos %}
                              <tr>
                                  <td>{{ pago.id_pago }}</td>
                                  <td>{{ pago.concepto_pago }}</td>
                                  <td>{{ pago.monto_pago }}</td>
                                  <td class="text-center">

                                    <div class="d-inline-flex flex-row align-items-center">
                                      <a href="#" class="ver-pago mr-5" data-pago-id="{{pago.id_pago}}" data-consulta-id="{{pago.id_consulta.id_consulta}}" data-paciente-id="{{paciente.id_paciente}}">   
                                        <i class="fas fa-eye fa-lg" style="color: #0a3461;"></i>
                                      </a>
                                      <a href="{% url 'EliminarPago' paciente_id=paciente.id_paciente pago_id=pago.id_pago %}" class="eliminar-pago" data-pago-id="{{ pago.id_pago }}" data-paciente-id="{{ paciente.id_paciente }}">
                                        <i class="fas fa-trash fa-lg" style="color: #1e3152;"></i>
                                      </a>
                                    </div>
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                <div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  <!-- /.content-wrapper -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Obtener todos los elementos con la clase "ver-pago"
      const verPagos = document.querySelectorAll(".ver-pago");
  
      // Agregar un evento de clic a cada enlace
      verPagos.forEach(function(enlace) {
        enlace.addEventListener("click", function(event) {
          event.preventDefault();
          
          // Obtener el ID de la consulta del atributo data-pago-id
          const pagoId = enlace.getAttribute("data-pago-id");

          //obtener el ID de el paciente del atributo data-paciente-id
          const pacienteId = enlace.getAttribute("data-paciente-id");
          const consultaId = enlace.getAttribute("data-consulta-id");
          // Redirigir a la página de detalles del pago con el ID
          window.location.href = "/HistorialPagos/" + pacienteId + "/" + consultaId + "/DetallesPago/" + pagoId + "/";
        });
      });
    });

  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const eliminarPagos = document.querySelectorAll(".eliminar-pago");
    
      eliminarPagos.forEach(function(enlace) {
        enlace.addEventListener("click", function(event) {
          event.preventDefault();
    
          const pagoId = enlace.getAttribute("data-pago-id");
          const pacienteId = enlace.getAttribute("data-paciente-id");

          window.location.href = `/HistorialPagos/${pacienteId}/EliminarPago/${pagoId}/`;
          
        });
      });
    });    
  </script>
  
{% endblock %}
