{% extends 'index_master.html' %}

{% block content %} 

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var eventListEl = document.getElementById('event-list');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        eventContent: function(arg) {
          var eventTitle = arg.event.title;
          var eventBackgroundColor;
          var eventTextColor = 'white'; // Definir el color del texto
          var eventBorderColor = 'black'; // Definir el color del borde
  
          if (arg.event.extendedProps.estadocita === true) {
            eventBackgroundColor = 'green'; // Color verde para citas completadas (estadocita = true)
          } else {
            eventBackgroundColor = 'red'; // Color rojo para citas pendientes (estadocita = false)
          }
  
          var eventContent = document.createElement('div');
          eventContent.classList.add('fc-event');
          eventContent.style.backgroundColor = eventBackgroundColor;
          eventContent.style.color = eventTextColor;
          eventContent.style.borderColor = eventBorderColor;
          eventContent.textContent = eventTitle;
  
          return { domNodes: [eventContent] };
        },
        headerToolbar: {
          start: 'dayGridMonth,timeGridWeek,timeGridDay custom1',
          center: 'title',
          end: 'prevYear,prev,next,nextYear'
        },
        locale: 'es',
        eventDisplay: 'block',
        nowIndicator: true,
        events: [{% for cita in citas %}
          {
            title: '{{ cita.titulo_cita }}',
            start: '{{ cita.cita_fecha|date:"Y-m-d" }}T{{ cita.horainicio|time:"H:i:s" }}',
            end: '{{ cita.cita_fecha|date:"Y-m-d" }}T{{ cita.horafin|time:"H:i:s" }}',
            url: '{% url 'VerCita' cita_id=cita.id_cita %}',
            extendedProps: {
              estadocita: {{ cita.estadocita|lower }} // Convierte el valor booleano en minúsculas
            }
          },
        {% endfor %}
        
        ],
        customButtons: {
          custom1: {
            text: 'Crear',
            click: function() { window.location.href = '/CrearCita/'; }
          },
          dayGridMonth: { text: 'Mes', click: function() { calendar.changeView('dayGridMonth'); }},
          timeGridWeek: { text: 'Semana', click: function() { calendar.changeView('timeGridWeek'); }},
          timeGridDay: { text: 'Día', click: function() { calendar.changeView('timeGridDay'); }}
        },
        eventClick: function(info) {
          info.jsEvent.preventDefault();
          if (info.event.url) {
            window.location.href = info.event.url;
          }
        }
      });
      calendar.render();
  
      // Populate the event list
      var events = calendar.getEvents();
      events.sort(function(a, b) {
        return a.start - b.start; // Sort events from most recent to oldest
      });
      events.forEach(function(event) {
        var eventCard = document.createElement('div');
        eventCard.classList.add('event-card');
        eventCard.textContent = event.title;
        eventListEl.appendChild(eventCard);
      });
    });
  </script>
  
</head>
<body>
    <div id='calendar'></div>
</body>
</html>


  
  
{% endblock %}
