{% extends 'index_master.html' %}

{% block content %} 

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <style>
    #calendar {
      float: left;
      width: 70%;
    }
    #event-list {
      float: left;
      width: 30%;
      padding: 20px;
    }
    .event-card {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f5f5f5;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var eventListEl = document.getElementById('event-list');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          start: 'dayGridMonth,timeGridWeek,timeGridDay custom1',
          center: 'title',
          end: 'prevYear,prev,next,nextYear'
        },
        locale: 'es',
        eventDisplay: 'block',
        nowIndicator: true,
        events: [{% for cita in citas %}
          {
            title: '{{ cita.observacion_cita }}',
            start: '{{ cita.cita_fecha|date:"Y-m-d" }}T{{ cita.horainicio|time:"H:i:s" }}',
            end: '{{ cita.cita_fecha|date:"Y-m-d" }}T{{ cita.horafin|time:"H:i:s" }}',
          },
        {% endfor %}],
        customButtons: {
          custom1: {
            text: 'Crear',
            click: function() { alert('Nueva Cita');
            window.location.href = 'RegistrarCitas';
          
          }
            
          },
          dayGridMonth: { text: 'Mes', click: function() { calendar.changeView('dayGridMonth'); }},
          timeGridWeek: { text: 'Semana', click: function() { calendar.changeView('timeGridWeek'); }},
          timeGridDay: { text: 'Día', click: function() { calendar.changeView('timeGridDay'); }}
        },
        eventClick: function(info) {
        
        }
      });
      calendar.render();

      // Populate the event list
      var events = calendar.getEvents();
      events.sort(function(a, b) {
        return a.start - b.start; // Sort events from most recent to oldest
      });
      events.forEach(function(event) {
        var eventCard = document.createElement('div');
        eventCard.classList.add('event-card');
        eventCard.textContent = event.title;
        eventListEl.appendChild(eventCard);
      });
    });
  </script>
</head>
<body>
  
  <div id='calendar'></div>
  {% comment %} <div id='event-list'></div> {% endcomment %}
</body>
</html>


  
  
{% endblock %}
