{% extends 'index_master.html' %} {% block content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-5 text-right">
              <i class="fas fa-user"></i>
            </div>
            <div class="col-1 text-center">{{paciente.id_paciente}}</div>
            <div class="col-2 text-center">{{paciente.primer_nombre}} {{paciente.primer_apellido}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
&nbsp; &nbsp;
<section class="content">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <i class="fas fa-user"> </i>&nbsp;&nbsp; Datos Personales
        </div>
        <div class="col text-center">
          <i class="fas fa-stethoscope"></i>&nbsp;&nbsp; Consultas
        </div>
        <div class="col text-center">
          <i class="fas fa-plus-square"></i>&nbsp;&nbsp; Inspeccion
        </div>
        <div class="col text-center">
          <i class="fas fa-first-aid"></i>&nbsp;&nbsp; Pagos
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="container">
      <table class="table table-sm table-secondary">
        <thead>
          <tr>
            <th scope="col"></th>
            <th class="bg-primary" scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Nueva Consulta</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<form action="{% url 'NuevaConsulta' paciente_id=paciente.id_paciente %}" method="POST">
  {% csrf_token %}
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="fechacita" class="col-sm-4 col-form-label"
                      >Fecha de Consulta:</label
                    >
                    <div class="col-sm-5">
                      <input
                        type="date"
                        class="limpiarinput"
                        id="fecha_consulta"
                        name="fecha_consulta"
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group row">
                    <label for="horainicio" class="col-sm-4 col-form-label"
                      >Hora de inicio:</label
                    >
                    <div class="col-sm-5">
                      <input type="time" id="horainicio" name="horainicio" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="motivo" class="col-sm-2 col-form-label"
                      >Motivo:</label
                    >
                    <div class="col-sm-10">
                      <input class="form-control" id="motivo" name="motivo" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="observacion" class="col-sm-2 col-form-label"
                      >Observaciones:</label>
                    <div class="col-sm-10">
                      <textarea
                        name="obervacion_consulta"
                        id="obervacion_consulta"
                        style="width: 855px; height: 150px">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="finalizada" class="col-sm-2 col-form-label">Estado: </label>
                    <div class="col-sm-10">
                      <input type="checkbox" name="finalizada" id="finalizada" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <a href="/historialConsultas" class="btn btn-primary"
            ><i class="fas fa-arrow-left"></i>&nbsp; Volver al Historial</a
          >
        </div>
        <div class="col-sm-6">
          <button
            type="submit"
            name="submit"
            class="btn btn-success float-right">
            <i class="fa fa-thumbs-up"></i>&nbsp; Guardar Consulta
          </button>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
</form>
<script>
  document.getElementsByClassName("limpiarinput")[0].value = "";
</script>
<script>
  document.getElementById("horainicio").value = "";
  document.getElementById("motivo").value = "";
  document.getElementById("observacion").value = "";
</script>
{% endblock %}
