{% extends 'index_master.html' %} {% block content %}


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="container">
      <div class="card bg-light rounded">
        <div class="card-body text-center">
          <div class="row align-items-center">
            <div class="col-12">
              <h2 class="mb-0" style="font-size: 24px;">{{ paciente.id_paciente }}</h2>
              <h4 class="text-truncate" style="font-size: 18px;">{{ paciente.primer_nombre }} {{ paciente.primer_apellido }}</h4>
              <hr class="my-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
&nbsp; &nbsp;

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="perfil-link" onclick="highlightIcon('perfil-link')">
          <i class="fas fa-user fa-1x" style="color: #422722;"></i>
          <p class="mt-2" style="color: #422722; font-weight: bold;">Perfil</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="consultas-link" onclick="highlightIcon('consultas-link')">
          <i class="fas fa-stethoscope fa-1x" style="color: #36A2EB;"></i>
          <p class="mt-2" style="color: #36A2EB; font-weight: bold;">Consultas</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="terapia-link" onclick="highlightIcon('terapia-link')">
          <i class="fas fa-heart fa-2x" style="color: #FF0000;"></i>
          <p class="mt-2" style="color: #FF0000; font-weight: bold;">Terapia</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="pagos-link" onclick="highlightIcon('pagos-link')">
          <i class="fas fa-hand-holding-usd fa-2x" style="color: #00BB2D;"></i>
          <p class="mt-2" style="color: #00BB2D; font-weight: bold;">Pagos</p>
          <div class="bar"></div>
        </a>
      </div>
    </div>
  </div>
</section>  

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
  
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-center mb-4">
              <h4 class="text-primary">Detalles de la Consulta</h4>
              <hr>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="text-center">
                  <h6 class="text-secondary">ID de la Consulta</h6>
                  <p class="font-weight-bold">{{consulta.id_consulta}}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="text-center">
                  <h6 class="text-secondary">Fecha de Cita</h6>
                  <p>{{ fecha_consulta_str }}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="text-center">
                  <h6 class="text-secondary">Hora de Inicio</h6>
                  <p>{{consulta.hora_consulta}}</p>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="text-center">
                  <h6 class="text-secondary">Motivo de la Consulta</h6>
                  <p class="font-weight-bold">{{consulta.motivo_consulta}}</p>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="text-center">
                  <h6 class="text-secondary">Observaciones</h6>
                  <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                      <p class="mb-1">{{consulta.observacion_consulta}}</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <a
          href="{% url 'ListarConsultas' paciente_id=paciente.id_paciente %}"
          class="btn btn-primary"
          ><i class="fas fa-arrow-left"></i>&nbsp; Volver al Historial</a>
      </div>

      <div class="col-sm-6">
        <a href="{% url 'EditarConsulta' paciente_id=paciente.id_paciente consulta_id=consulta.id_consulta %}" 
        class="btn btn-success float-right"><i 
        class="nav-icon fas fa-user"></i>&nbsp;&nbsp;Editar Consulta</a>
      </div>
      
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<script>
  function highlightIcon(id) {
    const icons = document.getElementsByClassName('nav-link');
    for (let i = 0; i < icons.length; i++) {
      icons[i].classList.remove('active');
    }
    document.getElementById(id).classList.add('active');
  }
</script>

{% endblock %}
