{% extends 'index_master.html' %} {% block content %}

<style>
  .nav-link {
    position: relative;
  }
  
  .nav-link .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .nav-link.active .bar {
    background-color: #36A2EB;
  }
</style>

<section class="content">
  <div class="container-fluid">
    <div class="container">
      <div class="card bg-light rounded">
        <div class="card-body text-center">
          <div class="row align-items-center">
            <div class="col-12">
              <h2 class="mb-0" style="font-size: 24px;">{{ paciente.id_paciente }}</h2>
              <h4 class="text-truncate" style="font-size: 18px;">{{ paciente.primer_nombre }} {{ paciente.primer_apellido }}</h4>
              <hr class="my-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


&nbsp; &nbsp;
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="perfil-link" onclick="highlightIcon('perfil-link')">
          <i class="fas fa-user fa-1x" style="color: #422722;"></i>
          <p class="mt-2" style="color: #422722; font-weight: bold;">Perfil</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="consultas-link" onclick="highlightIcon('consultas-link')">
          <i class="fas fa-stethoscope fa-1x" style="color: #36A2EB;"></i>
          <p class="mt-2" style="color: #36A2EB; font-weight: bold;">Consultas</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="terapia-link" onclick="highlightIcon('terapia-link')">
          <i class="fas fa-heart fa-2x" style="color: #FF0000;"></i>
          <p class="mt-2" style="color: #FF0000; font-weight: bold;">Terapia</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="pagos-link" onclick="highlightIcon('pagos-link')">
          <i class="fas fa-hand-holding-usd fa-2x" style="color: #00BB2D;"></i>
          <p class="mt-2" style="color: #00BB2D; font-weight: bold;">Pagos</p>
          <div class="bar"></div>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Editar Consulta</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<form
  action="{% url 'EditarConsulta' paciente_id=paciente.id_paciente consulta_id=consulta.id_consulta %}" method="POST">
  {% csrf_token %}
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p>ID: {{consulta.id_consulta}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="fechacita" class="col-sm-4 col-form-label"
                      >Fecha de Consulta:</label>
                      <div class="col-sm-5">
                      <input
                        type="date"
                        id="consulta_fecha"
                        name="consulta_fecha"
                        value="{{ consulta.consulta_fecha|date:'Y-m-d' }}"
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group row">
                    <label for="horainicio" class="col-sm-4 col-form-label"
                    >Hora de inicio:</label>
                    <div class="col-sm-5">
                      <input
                        type="time"
                        id="hora_consulta"
                        name="hora_consulta"
                        value="{{ consulta.hora_consulta|time:'H:i' }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="motivo" class="col-sm-2 col-form-label"
                      >Motivo:</label>
                    <div class="col-sm-10">
                      <input
                        class="form-control"
                        id="motivo_consulta"
                        name="motivo_consulta"
                        value="{{ consulta.motivo_consulta }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="observacion" class="col-sm-2 col-form-label"
                      >Observaciones:</label
                    >
                    <div class="col-sm-10">
          
                        <textarea class="form-control" rows="3" name="observacion_consulta" id="observacion_consulta">
                          {{ consulta.observacion_consulta }}
                        </textarea>
                     
                    </div>
                  </div>
                </div>
              </div>
              {% comment %}
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="finalizada" class="col-sm-2 col-form-label"
                      >Estado:
                    </label>
                    <div class="col-sm-10">
                      <input
                        type="checkbox"
                        name="finalizada"
                        id="finalizada"
                      />
                    </div>
                  </div>
                </div>
              </div>
              {% endcomment %}
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2 d-flex justify-content-between">
        <div class="col-sm-6">
          <a
            href="{% url 'ListarConsultas' paciente_id=paciente.id_paciente %}"
            class="btn btn-primary float-left"
            ><i class="fas fa-arrow-left"></i>&nbsp; Volver al Historial</a
          >
        </div>

        <div class="col-sm-6">
          <button
            type="submit"
            name="submit"
            class="btn btn-success float-right">
            <i class="fa fa-thumbs-up"></i>&nbsp; Actualizar Consulta
          </button>
        </div>

      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
</form>

<script>
  // Eliminar espacios en blanco al cargar la página
  window.addEventListener('DOMContentLoaded', function() {
    var textarea = document.getElementById('observacion_consulta');
    textarea.value = textarea.value.trim();
  });

    function highlightIcon(id) {
      const icons = document.getElementsByClassName('nav-link');
      for (let i = 0; i < icons.length; i++) {
        icons[i].classList.remove('active');
      }
      document.getElementById(id).classList.add('active');
    }
  

</script>

{% endblock %}
