{% extends 'index_master.html' %}

{% block content %} 

<style>
  .nav-link {
    position: relative;
  }
  
  .nav-link .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .nav-link.active .bar {
    background-color: #36A2EB;
  }
</style>

<!-- Main content -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="container">
      <div class="card bg-light rounded">
        <div class="card-body text-center">
          <div class="row align-items-center">
            <div class="col-12">
              <h2 class="mb-0" style="font-size: 24px;">{{ paciente.id_paciente }}</h2>
              <h4 class="text-truncate" style="font-size: 18px;">{{ paciente.primer_nombre }} {{ paciente.primer_apellido }}</h4>
              <hr class="my-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

&nbsp; &nbsp; 
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="perfil-link" onclick="highlightIcon('perfil-link')">
          <i class="fas fa-user fa-2x" style="color: #422722;"></i>
          <p class="mt-2" style="color: #422722; font-weight: bold;">Perfil</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="consultas-link" onclick="highlightIcon('consultas-link')">
          <i class="fas fa-stethoscope fa-2x" style="color: #36A2EB;"></i>
          <p class="mt-2" style="color: #36A2EB; font-weight: bold;">Consultas</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="terapia-link" onclick="highlightIcon('terapia-link')">
          <i class="fas fa-heart fa-2x" style="color: #FF0000;"></i>
          <p class="mt-2" style="color: #FF0000; font-weight: bold;">Terapia</p>
          <div class="bar"></div>
        </a>
      </div>
      <div class="col-3 text-center">
        <a href="#" class="nav-link" id="pagos-link" onclick="highlightIcon('pagos-link')">
          <i class="fas fa-hand-holding-usd fa-2x" style="color: #00BB2D;"></i>
          <p class="mt-2" style="color: #00BB2D; font-weight: bold;">Pagos</p>
          <div class="bar"></div>
        </a>
      </div>
    </div>
  </div>
</section>

&nbsp;&nbsp;

<!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    
    <section class="content-header">  
      <div class="container-fluid">
        <div class="row mb-2 justify-content-between">
          <div class="col-sm-6">
            <h2>Historial de Consultas</h2>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'NuevaConsulta' paciente_id=paciente.id_paciente %}" class="btn btn-success ml-auto float-right"><i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Nueva Consulta</a>
          </div>
        </div>
      </div>
      
      

      

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">

                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Id</th>
                      <th>Motivo</th>
                      <th>Fecha</th>
                      <th>Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for consulta in consultas %}
                    <tr>
                      <td>{{consulta.id_consulta}}</td>
                      <td>{{consulta.motivo_consulta}}</td>
                      <td>{{consulta.consulta_fecha}}</td>
                      <td class="text-center">
                        <div class="d-inline-flex flex-row align-items-center">
                          <a href="#" class="ver-consulta mr-5" data-consulta-id="{{consulta.id_consulta}}" data-paciente-id="{{paciente.id_paciente}}">
                            <i class="nav-icon fas fa-eye"></i>
                          </a>
                          <a href="{% url 'EliminarConsulta' paciente_id=paciente.id_paciente consulta_id=consulta.id_consulta %}" class="eliminar-consulta" data-consulta-id="{{consulta.id_consulta}}" data-paciente-id="{{paciente.id_paciente}}">
                            <i class="nav-icon fas fa-trash"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody> 
                  </table>
                  
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  <!-- /.content-wrapper -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Obtener todos los elementos con la clase "ver-consulta"
      const verConsultas = document.querySelectorAll(".ver-consulta");
  
      // Agregar un evento de clic a cada enlace
      verConsultas.forEach(function(enlace) {
        enlace.addEventListener("click", function(event) {
          event.preventDefault();
          
          // Obtener el ID de la consulta del atributo data-consulta-id
          const consultaId = enlace.getAttribute("data-consulta-id");

          //obtener el ID de el paciente del atributo data-paciente-id
          const pacienteId = enlace.getAttribute("data-paciente-id");
          
          // Redirigir a la página de detalles de la consulta con el ID
          window.location.href = "/"+ pacienteId + "/HistorialConsultas/DetallesConsulta/" + consultaId + "/";
        });
      });
    });

    function highlightIcon(id) {
      const icons = document.getElementsByClassName('nav-link');
      for (let i = 0; i < icons.length; i++) {
        icons[i].classList.remove('active');
      }
      document.getElementById(id).classList.add('active');
    }

  </script>
  
{% endblock %}
