{% extends 'base_pacientes.html' %}

{% block content %} 

    <!-- Content Header (Page header) -->
    
    <section class="content-header">  
      <div class="container-fluid">
        <div class="row mb-2 justify-content-between">
          <div class="col-sm-6">
            <h2>Historial de Consultas</h2>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'NuevaConsulta' paciente_id=paciente.id_paciente %}" class="btn btn-success ml-auto float-right"><i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Nueva Consulta</a>
          </div>
        </div>
      </div>
      
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">

                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Id</th>
                      <th>Motivo</th>
                      <th>Fecha</th>
                      <th>Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for consulta in consultas %}
                    <tr>
                      <td>{{consulta.id_consulta}}</td>
                      <td>{{consulta.motivo_consulta}}</td>
                      <td>{{consulta.consulta_fecha}}</td>
                      <td class="text-center">
                        <div class="d-inline-flex flex-row align-items-center">
                          <a href="#" class="ver-consulta mr-5" data-consulta-id="{{consulta.id_consulta}}" data-paciente-id="{{paciente.id_paciente}}">
                            <i class="nav-icon fas fa-eye"></i>
                          </a>
                          <a href="{% url 'EliminarConsulta' paciente_id=paciente.id_paciente consulta_id=consulta.id_consulta %}" class="eliminar-consulta" data-consulta-id="{{consulta.id_consulta}}" data-paciente-id="{{paciente.id_paciente}}">
                            <i class="nav-icon fas fa-trash"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody> 
                  </table>
                  
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  <!-- /.content-wrapper -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Obtener todos los elementos con la clase "ver-consulta"
      const verConsultas = document.querySelectorAll(".ver-consulta");
  
      // Agregar un evento de clic a cada enlace
      verConsultas.forEach(function(enlace) {
        enlace.addEventListener("click", function(event) {
          event.preventDefault();
          
          // Obtener el ID de la consulta del atributo data-consulta-id
          const consultaId = enlace.getAttribute("data-consulta-id");

          //obtener el ID de el paciente del atributo data-paciente-id
          const pacienteId = enlace.getAttribute("data-paciente-id");
          
          // Redirigir a la página de detalles de la consulta con el ID
          window.location.href = "/"+ pacienteId + "/HistorialConsultas/DetallesConsulta/" + consultaId + "/";
        });
      });
    });

  </script>
  
{% endblock %}
